body {
  font-size: 12px;
}
main {
  width: 100%;
}
label {
  font-size: 13px;
  font-weight: bold;
}


fieldset {
  width: 25%;
  float: left;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
}

li {
  padding-bottom: 8px;
}

textarea {
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
}

input[type=submit],
input[type=reset] {
  background:#80bfff;
  border: 1px solid #944dff;
  border-radius: 5px;
}

footer {
  clear: both;
  padding-top: 15px;
  font-size: 12px;
  font-weight: 600;
}

textarea {
  height: 65px;
}
